/* Stylesheet for Lau Jun Hui Matthew Creative Process Journal */

* {
    margin: 0;
    padding: 0;
    background-color: #fff;
    box-sizing:border-box;
    overflow-x: hidden;
    overflow-y: hidden;
}

@media screen and (min-width: 1281px) {
    * {
      font-size: 16px;
    }
}
  
@media screen and (max-width: 1280px) {
    * {
      font-size: 10px;
    }
}

@media screen and (max-width: 600px) {
    * {
      font-size: 6px;
    }
}

/* Load Font */
@font-face {
    font-family: "Fira-Code-Variable";
    src: url(assets/fonts/FiraCode-VariableFont_wght.ttf) format("truetype-variations");
} /* wght 300-700 */

@font-face {
    font-family: "Austin News Deck";
    src: url(assets/fonts/AustinNewsDeck-Light.otf) format("opentype");
    font-weight:  200;
    font-style:   normal;
    font-stretch: normal;
}

@font-face {
    font-family: "Austin News Deck";
    src: url(assets/fonts/AustinNewsDeck-LightItalic.otf) format("opentype");
    font-weight:  200;
    font-style:   italic;
    font-stretch: normal;
}

@font-face {
    font-family: "Atlas Grotesk";
    src: url(assets/fonts/AtlasGrotesk-Light.otf) format("opentype");
    font-weight:  200;
    font-style:   normal;
    font-stretch: normal;
}

@font-face {
    font-family: "Atlas Grotesk";
    src: url(assets/fonts/AtlasGrotesk-LightItalic.otf) format("opentype");
    font-weight:  200;
    font-style:   italic;
    font-stretch: normal;
}

/* Navigation Bar */
.left-nav-bar {
    width: 26vw;
    height: 100vh;
    z-index: 100;
    position: fixed;
    overflow: hidden;
}

.nav-content {
    padding: 4vw 2vw 4vw 4vw;
}

a.nav-link {
    font-family: "Fira-Code-Variable";
    font-size: 1rem;
    line-height: 2.6rem;
    font-feature-settings: "liga" 1, "kern" 1,;
    font-variation-settings: 'wght' 400;
    color: #FFA500;
}

a.nav-link :hover {
    font-family: "Fira-Code-Variable";
    font-size: 1rem;
    line-height: 2.6rem;
    font-feature-settings: "liga" 1, "kern" 1, "ss01";
    font-variation-settings: 'wght' 700;
    color: #FFA500;
}

a.nav-link :visited {
    font-family: "Fira-Code-Variable";
    font-size: 1rem;
    line-height: 2.6rem;
    font-feature-settings: "liga" 1, "kern" 1, "ss01";
    font-variation-settings: 'wght' 400;
    color: #FFA500;
}

.nav-footer {
    padding: 4vw 2vw 2vw 4vw;
    position: fixed;
    bottom: 0;
}

p.nav-footer-content {
    font-family: "Fira-Code-Variable";
    font-size: 1rem;
    line-height: 1.6rem;
    font-feature-settings: "liga" 1, "kern" 1,;
    font-variation-settings: 'wght' 400;
    color: #FFA500;
    width: 20vw;
}

/* Dashboard */
#miro-board {
    margin-top: 2vw;
    width: 60vw;
    height: 50vw;
}

#pixlee_container {
    margin-top: 2vw;
    width: 60vw;
}

/* Pages */
.main-content {
    margin-left: 26vw;
    width: 80vw;
    height: 100vh;
    position: absolute;
    display: block;
    overflow: scroll;
}

.content {
    margin: 2vw;
    padding: 2vw;
    position: absolute;
    display: block;
    overflow: scroll;
}

a.back-to-top-arrow {
    position: fixed;
    color: #FFA500;
    scroll-behavior: smooth;
    bottom: 2vw;
    right: 2vw;
    font-family: "Fira-Code-Variable";
    color: #FFA500;
    z-index: 100;
}

@keyframes end-of-animation {
    from {
      font-variation-settings: "wght" 300;
    }
    to {
      font-variation-settings: "wght" 700;
    }
  }

p.end-of {
    margin-top: 4vw;
    width: 60vw;
    font-family: "Fira-Code-Variable";
    font-size: 1rem;
    line-height: 2.5rem;
    font-feature-settings: 'liga' 1, 'kern' 1,;
    color: #FFA500;
    transition: font-variation-settings 0.3s ease;
    animation-name: end-of-animation;
    animation-duration: 3s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

img.gradproj-content {
    margin-top: 4vw;
    width: 60vw;
    height: auto;
}

.image-grid {
    margin-top: 4vw;
    width: 60vw;
}

img.gradproj-content-grid-16vw {
    margin-top: 1vw;
    margin-right: 1vw;
    width: 16vw;
    height: auto;
    display: inline-block;
}

p.page-header {
    margin-bottom: -2vw;
    display: block;
    font-family: "Fira-Code-Variable";
    font-size: 1rem;
    line-height: 2.5rem;
    font-feature-settings: 'liga' 1, 'kern' 1,;
    font-variation-settings: 'wght' 400;
    color: #FFA500;
    transition: font-variation-settings 0.3s ease;
    animation-name: end-of-animation;
    animation-duration: 3s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

p.page-subheader {
    margin-top: 4vw;
    display: block;
    font-family: "Fira-Code-Variable";
    font-size: 1rem;
    line-height: 2.5rem;
    font-feature-settings: 'liga' 1, 'kern' 1,;
    font-variation-settings: 'wght' 400;
    color: #FFA500;
}

p.page-content {
    margin-top: 4vw;
    width: 60vw;
    font-family: "Fira-Code-Variable";
    font-size: 1.5rem;
    line-height: 3.5rem;
    font-feature-settings: 'liga' 1, 'kern' 1,;
    font-variation-settings: 'wght' 400;
    color: #FFA500;
    text-indent: 3vw;
}

p.page-content-dash {
    width: 60vw;
    font-family: "Fira-Code-Variable";
    font-size: 1.5rem;
    line-height: 3.5rem;
    font-feature-settings: 'liga' 1, 'kern' 1,;
    font-variation-settings: 'wght' 400;
    color: #FFA500;
}

a.page-content-dash-link {
    width: 60vw;
    font-family: "Fira-Code-Variable";
    font-size: 1.5rem;
    line-height: 3.5rem;
    font-feature-settings: 'liga' 1, 'kern' 1,;
    font-variation-settings: 'wght' 400;
    color: #FFA500;
    text-decoration: underline dotted;
}

a.page-content-dash-link:visited {
    width: 60vw;
    font-family: "Fira-Code-Variable";
    font-size: 1.5rem;
    line-height: 3.5rem;
    font-feature-settings: 'liga' 1, 'kern' 1,;
    font-variation-settings: 'wght' 400;
    color: #FFA500;
}

p.reflections-content {
    margin-top: 4vw;
    width: 60vw;
    font-family: "Austin News Deck";
    font-weight: 200;
    font-style: normal;
    font-size: 2rem;
    line-height: 3.5rem;
    font-feature-settings: 'liga' 1, 'kern' 1,;
    text-indent: 3vw;
    color: #FFA500;
}

p.dissertation-header {
    margin-top: 4vw;
    margin-bottom: 4vw;
    display: block;
    font-family: "Austin News Deck";
    font-weight: 200;
    font-style: normal;
    font-size: 1.25rem;
    line-height: 2.5rem;
    font-feature-settings: 'liga' 1, 'kern' 1,;
    color: green;
}  

p.dissertation-content {
    margin-top: 4vw;
    display: block;
    width: 60vw;
    font-family: "Austin News Deck";
    font-weight: 200;
    font-style: normal;
    font-size: 2rem;
    line-height: 3.5rem;
    font-feature-settings: 'liga' 1, 'kern' 1,;
    text-indent: 3vw;
    color: green;
}

a.dissertation-content {
    font-family: "Austin News Deck";
    font-weight: 200;
    font-style: normal;
    font-size: 2rem;
    line-height: 3.5rem;
    font-feature-settings: 'liga' 1, 'kern' 1,;
    color: green;
    text-decoration: underline dotted;
}

p.dissertation-quote {
    margin-top: 4vw;
    display: block;
    width: 60vw;
    font-family: "Austin News Deck";
    font-weight: 200;
    font-style: italic;
    font-size: 2rem;
    line-height: 3.5rem;
    text-indent: 3vw;
    font-feature-settings: 'liga' 1, 'kern' 1,;
    color: green;
}

a.dissertation-quote {
    font-family: "Austin News Deck";
    font-weight: 200;
    font-style: italic;
    font-size: 2rem;
    line-height: 3.5rem;
    font-feature-settings: 'liga' 1, 'kern' 1,;
    color: green;
    text-decoration: underline dotted;
}

p.dissertation-quote-name {
    margin-top: 4vw;
    margin-bottom: -4vw;
    display: block;
    width: 60vw;
    font-family: "Austin News Deck";
    font-weight: 200;
    font-style: normal;
    font-size: 1.5rem;
    line-height: 2.5rem;
    font-feature-settings: 'liga' 1, 'kern' 1,;
    color: green;
}

p.dissertation-caption {
    display: block;
    width: 60vw;
    font-family: "Atlas Grotesk";
    font-weight: 200;
    font-style: normal;
    font-size: 1rem;
    line-height: 2.5rem;
    font-feature-settings: 'liga' 1, 'kern' 1,;
    color: green;
}

p.gradproj-header {
    margin-top: 4vw;
    margin-bottom: 4vw;
    display: block;
    width: 60vw;
    font-family: "Austin News Deck";
    font-weight: 200;
    font-style: normal;
    font-size: 1.25rem;
    line-height: 2.5rem;
    font-feature-settings: 'liga' 1, 'kern' 1,;
    color: blue;
}  

p.gradproj-content {
    margin-top: 4vw;
    display: block;
    width: 60vw;
    font-family: "Austin News Deck";
    font-weight: 200;
    font-style: normal;
    font-size: 2rem;
    line-height: 3.5rem;
    text-indent: 3vw;
    font-feature-settings: 'liga' 1, 'kern' 1,;
    color: blue;
}

a.gradproj-content {
    font-family: "Austin News Deck";
    font-weight: 200;
    font-style: normal;
    font-size: 2rem;
    line-height: 3.5rem;
    font-feature-settings: 'liga' 1, 'kern' 1,;
    color: blue;
    text-decoration: underline dotted;
}

p.gradproj-quote {
    margin-top: 4vw;
    display: block;
    width: 60vw;
    font-family: "Austin News Deck";
    font-weight: 200;
    font-style: italic;
    font-size: 2rem;
    line-height: 3.5rem;
    text-indent: 3vw;
    font-feature-settings: 'liga' 1, 'kern' 1,;
    color: blue;
}

a.gradproj-quote {
    font-family: "Austin News Deck";
    font-weight: 200;
    font-style: italic;
    font-size: 2rem;
    line-height: 3.5rem;
    font-feature-settings: 'liga' 1, 'kern' 1,;
    color: blue;
    text-decoration: underline dotted;
}

p.gradproj-quote-name {
    margin-top: 4vw;
    margin-bottom: -4vw;
    display: block;
    width: 60vw;
    font-family: "Austin News Deck";
    font-weight: 200;
    font-style: normal;
    font-size: 1.5rem;
    line-height: 2.5rem;
    font-feature-settings: 'liga' 1, 'kern' 1,;
    color: blue;
}

p.gradproj-caption {
    margin-bottom: 4vw;
    display: block;
    width: 60vw;
    font-family: "Atlas Grotesk";
    font-weight: 200;
    font-style: normal;
    font-size: 1rem;
    line-height: 2.5rem;
    font-feature-settings: 'liga' 1, 'kern' 1,;
    color: blue;
}

p.appendix-header {
    margin-top: 4vw;
    margin-bottom: 4vw;
    display: block;
    font-family: "Austin News Deck";
    font-weight: 200;
    font-style: normal;
    font-size: 1.25rem;
    line-height: 2.5rem;
    font-feature-settings: 'liga' 1, 'kern' 1,;
    color: #000;
}

p.appendix-content {
    margin-top: 4vw;
    display: block;
    width: 60vw;
    font-family: "Austin News Deck";
    font-weight: 200;
    font-style: normal;
    font-size: 2rem;
    line-height: 3.5rem;
    text-indent: 3vw;
    font-feature-settings: 'liga' 1, 'kern' 1,;
    color: #000;
}

p.appendix-quote {
    margin-top: 4vw;
    display: block;
    width: 60vw;
    font-family: "Austin News Deck";
    font-weight: 200;
    font-style: italic;
    font-size: 2rem;
    line-height: 3.5rem;
    text-indent: 3vw;
    font-feature-settings: 'liga' 1, 'kern' 1,;
    color: #000;
}

a.appendix-quote {
    font-family: "Austin News Deck";
    font-weight: 200;
    font-style: italic;
    font-size: 2rem;
    line-height: 3.5rem;
    font-feature-settings: 'liga' 1, 'kern' 1,;
    color: #000;
    text-decoration: underline dotted;
}

p.appendix-quote-name {
    margin-top: 4vw;
    margin-bottom: -4vw;
    display: block;
    width: 60vw;
    font-family: "Austin News Deck";
    font-weight: 200;
    font-style: normal;
    font-size: 1.5rem;
    line-height: 2.5rem;
    font-feature-settings: 'liga' 1, 'kern' 1,;
    color: #000;
}
